<div class="previewContainer">
	<div id="previewCapture">
		<video src="" class="image-capture" alt="" muted autoplay loop style="min-width: 300px;"></video>
		<img src="" class="image-layout" alt=""><img>
		<div class="overlay overlay-capture update">
			<div>
				<div>
					Use<br />
					<span>
						<sl-icon name="camera-reels"></sl-icon> Simulate Capture
					</span><br />
					To generate an animated preview.<br>
				</div>
				<div class="generating">
					Generating Animated Preview...<br>
					<sl-spinner></sl-spinner>
				</div>
			</div>
		</div>
	</div>
</div>
