<p>
WebCT v{{v_webct}} on {{h_sys}}<br>
{{h_cpu}} : {{h_mem}}<br>
{{h_gpu}}<br>
<br>
Simulated <a href="https://sourceforge.net/projects/gvirtualxray/">with gVXR v{{v_gvxr}}</a><br>
Reconstructed <a href="https://ccpi.ac.uk/CIL/">by CIL v{{v_cil}}</a><br>
</p>
