<sl-button class="button-update" style="width: 100%">Update
	{# Having the refresh icon pushes the button to be too wide. #}
	<sl-icon slot="prefix" name="arrow-clockwise"></sl-icon>
</sl-button>
