<h1>Samples</h1>

<sl-dialog label="Select Sample" id="dialogueSampleSelect">
	<sl-radio-group>
		<div class="radioselect">
			<sl-radio value="select" checked id="radioSampleSelect"><h1>Available Models</h1></sl-radio>
			<sl-select placeholder="Select Model" hoist id="selectSample">
			</sl-select>
			<sl-input label="Sample Name" placeholder="Unlabeled Sample" id="inputSampleLabel"></sl-input>

		</div>
		<sl-divider></sl-divider>

		<div>
			<sl-radio value="upload" id="radioSampleUpload"><h1>Upload Model</h1></sl-radio>
			<input type="file" id="inputSampleFile">
			<sl-progress-bar value="0" id="barSampleUpload">0</sl-progress-bar>
		</div>
	</sl-radio-group>
	
	<div slot="footer">
		<sl-divider></sl-divider>
		<div class="buttons">
			<sl-button variant="" class="close" id="buttonSampleClose">Close</sl-button>
			<sl-button variant="success" id="buttonSampleSubmit" disabled>Add Sample</sl-button>
		</div>
	</div>
</sl-dialog>

<sl-dialog label="Upload Complete!" id="dialogueUploadComplete">
	<p>Sample has been uploaded!<br>You can now add the sample using the model dropdown.</p>

		<div slot="footer">
			<sl-divider></sl-divider>
			<div class="buttons">
			<sl-button variant="" class="close" id="buttonUploadClose">Close</sl-button>
		</div>
	</div>
</sl-dialog>

{% include "materiallib.samples.html.j2" %}
