<div class="pane">
	<canvas id="spectra"></canvas>

	<sl-button-group>
		<sl-button pill size="small" id="buttonSpectraNone" variant="primary">None</sl-button>
		<sl-button pill size="small" id="buttonSpectra01">0-1</sl-button>
		<sl-button pill size="small" id="buttonSpectraPercent">%</sl-button>
	</sl-button-group>

</div>
