<h1> Beam </h1>
<!-- <sl-input label="Beam Preset Name" help-text="A user-friendly name of the preset."
	placeholder="Example Beam 1"
	value="Swansea 80KeV"></sl-input> -->

{% include "update-button.html.j2" %}

<div class="group">
	<div>
		<sl-select label="Source Type" value="lab" id="selectBeamSource">
			<sl-menu-item value="synch">Synchrotron</sl-menu-item>
			<sl-menu-item value="lab">Lab CT</sl-menu-item>
			<sl-menu-item value="med">Medical Device</sl-menu-item>
			<!-- <sl-menu-item disabled>MC</sl-menu-item> -->
		</sl-select>

		<sl-input type="number" label="Spectra Energy" step="1" value="80" id="inputBeamEnergy">
			{% include "./units/energy.html.j2" %}
		</sl-input>

		<sl-input type="number" label="Tube Voltage" step="0.01" value="80.0" id="inputBeamVoltage">
			{% include "./units/voltage.html.j2" %}
		</sl-input>

		<sl-input type="number" label="Exposure" step="0.01" value="1" id="inputBeamExposure" disabled>
			{% include "./units/exposure.html.j2" %}
		</sl-input>

		<sl-input type="number" label="Intensity" step="0.01" value="1" id="inputBeamIntensity" disabled>
			{% include "./units/intensity.html.j2" %}
		</sl-input>

		<sl-input type="number" label="Milliampere-seconds" step="0.01" value="1" id="inputBeamMAS">
			{% include "./units/mas.html.j2" %}
		</sl-input>

		<sl-checkbox id="checkboxBeamHarmonics" advanced>Beam Harmonics</sl-checkbox>

		<sl-select label="Beam Generator" value="spekpy" id="selectBeamGen" advanced>
			<sl-menu-item value="spekpy">SpekPy</sl-menu-item>
			<sl-menu-item value="xpecgen">xpecgen</sl-menu-item>
		</sl-select>
	</div>
	<button></button>
</div>

<div class="group" id="settingsTube">
	<div>
		<sl-select label="Anode Material" value="74" id="selectTubeMaterial">
			{# <sl-menu-item value="29">Cu (Copper)</sl-menu-item> #}
			<sl-menu-item value="74">W (Tungsten)</sl-menu-item>
			<sl-menu-item value="42">Mo (Molydbenum)</sl-menu-item>
			<sl-menu-item value="45">Rh (Rhodium)</sl-menu-item>
		</sl-select>
		<sl-tooltip content="Planned feature" placement="bottom">
			<sl-input type="number" label="Focal Spot Size" step="0.01" value="0.0" id="inputBeamSpotSize" disabled >
				{% include "./units/size.html.j2" %}
			</sl-input>
		</sl-tooltip>
		<sl-input label="Anode Angle" type="number" step="0.1" value="12" id="inputBeamAngle" advanced >
			{% include "./units/degree.html.j2" %}
		</sl-input>
	</div>
	<button></button>
</div>

<div class="group" id="settingsFilter">
	<div>
		<sl-select label="Filter Material" value="13" id="selectFilterMaterial">
			<sl-menu-item value="13">Al (Aluminium)</sl-menu-item>
			<sl-menu-item value="29">Cu (Copper)</sl-menu-item>
			<sl-divider></sl-divider>
			<sl-menu-item value="47">Ag (Silver)</sl-menu-item>
			<sl-menu-item value="45">Rh (Rhodium)</sl-menu-item>
			<sl-menu-item value="73">Ta (Tantalum)</sl-menu-item>
			<sl-menu-item value="42">Mo (Molydbenum)</sl-menu-item>
		</sl-select>
		<sl-input type="number" label="Filter Thickness" step="0.1" value="10" id="inputFilterSize">
			{% include "./units/size.html.j2" %}
		</sl-input>
	</div>
	{# <button></button> #}
</div>
