<div class="previewContainer">
	<div id="previewRecon">

		{% include "recon-slice.html.j2" %}

		{% include "recon-sinogram.html.j2" %}

		{% include "recon-recon.html.j2" %}

	</div>
</div>
