<div class="recon-sinogram stacker">
	<div class="overlay overlay-sinogram update">
		<div>
			<div>
				Use<br />
				<span>
					<sl-icon name="box"></sl-icon> Reconstruct
				</span><br />
				To perform a tomographic reconstruction on simulated projections.<br>
			</div>
			<div class="generating">
				Reconstructing Volume...<br>
				<sl-spinner></sl-spinner>
			</div>
		</div>
	</div>
	<video src="" class="image-sinogram" alt="" muted autoplay loop></video>
</div>
